:root {
    --violet-color: #4D5AE5;
    --maintext-color: #2E2F42;
    --gray-color: #434455;
   --btn-navigation:#404BBF;
   --main-color: #FFFFFF;
   --lightgray-color: #F4F4FD;
    --bord-color: #E7E9FC;
   --linear-gradient: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
body{
    color: var(--main-color) ;
    font-family: 'Roboto', sans-serif;     
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--main-color) ;
}
/*якщо є нормалайз {box-sizing: border-box;}зірочку не пишемо*/
p, h1, h2, h3, h4 {
    margin:0;
}
img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
/*скинути крапки у списках ліст*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    margin: 0;
    padding-left: o;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*скинути підкреслення на ссbлках*.*/
.link {
    text-decoration: none;
}
.container {
    /* / width: 1158px;  */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*   HEADER   */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--bord-color);
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation {
    display: flex; 
 }

.logo-first, .logo-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33; 
    display: flex;
    color:var(--violet-color);
}

.logo-second {
    color:var(--maintext-color);  
}

.navigation-list { 
    display: flex ;
    /* margin-left: 76px;
    margin-right: 332px; */
}

.navigation-item {
    margin-right: 40px;
    margin-left: auto;
}
.navigation-item:last-child {
    margin-right: 0;
}
.navigation-link {
    display: block;
    font-weight: 500;
    color:var(--maintext-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--btn-navigation);
}

.contacts {    
    /* display: flex; */
    margin-left: auto;
}

.navigation-contacts{
   display: flex;
   margin-right: 20px; 
}
.navigation-contacts:last-child{
    margin-right: 0;
}
 .contact-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--gray-color); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-adress:last-child {
    margin-right: 0;
}

.contact-adress:hover,
.contact-adress:focus {
    color: var(--btn-navigation);
}

/* фокус для таба на интерактинвные элементы)*/
/* Section hero*/

.hero-main{ 
    background: var(--maintext-color);
    /* text-align: center;
    padding-top:188px  ;
    padding-bottom: 188px;  */
    padding-right: 42px;
    padding-left: 42px;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero-text {
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07;
    /* width: 318px; */
    margin-top: 0;
    margin-bottom: 72px;
    /* margin-bottom: 48px; */
    /* padding-right: 317px;
    padding-left: 317px; */
    text-align: start;
    justify-content: center;
    color: var(--main-color);
}

.hero-buttom {
    font-family: inherit;
    font-weight: 500;
    color: var(--main-color);
    letter-spacing: 0.04em;
    display: flex;
    margin: 0 auto;
    
    padding: 16px 32px;
    align-items: center;
    justify-content: center;

    background-color: var(--violet-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer; 
    /* Анімація бєкграунда кнопки . Задається те, 
    що ми хочемо анімувати у саму кнопку*/

    transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

   /*transition-property: background-color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/ 
}

.hero-buttom:hover,
.hero-buttom:focus {
    background-color: var(--btn-navigation);
}

/* Section tehnology*/

.tehnology {
    padding-top: 96px;
    padding-bottom: 96px;
}

.tehhology-maintext {
    color: hidden;
}

.tehnology-text, .about-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--maintext-color);
    margin-bottom: 8px;
}
.tehnology-text {
}

.tehnology-paragraph {
    font-weight: 400;
    color: var(--gray-color);
}

.tehnology-list {
   /* display: flex;*/
}

.tehnology-item {
    /*margin-right: 24px; 
    width: 264px; */
    /* padding-top: 72px; */
}
.tehnology-item:last-child {
    margin-right: 0;
}
/* section work*/

.work {
    /* padding-top: 120px; */
    padding-bottom: 120px;
    /*padding-top: 100px;
    padding-bottom: 100px;*/
}

.work-maintext,
 .about-maintext,
 .customers-maintext {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--maintext-color);
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap:24px;
}

.work-item {
    height: 100%;
}
/*.work-link {}*/
/*section our team - about*/

.about {
    background: var(--lightgray-color);
     padding-bottom: 96px;
    padding-top: 96px;
}

.about-maintext {
    margin-bottom: 72px;
}

.about-list {
    /* display: flex; */
   
}

.about-item {
    background:var(--main-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.about-text {
    margin-bottom: 8px;
}

.about-paragraph, .footer-paragraph {
    font-weight: 400;
    color: var(--gray-color);
    margin-bottom: 8px;
    
}
.card {
    padding-bottom: 32px;
    padding-top: 32px;
    margin: 0 auto;
   
}
/*--Page portoflio--*/
/*  Section portfolio navigation*/

/*.portfolio-hero {}*/

.portfolio-navigation {
    /* padding-bottom: 72px;
    padding-top: 92px; */
}

.portfolio-navigation-list {
    display: flex;
    margin-bottom: 72px;
    align-items: center;
    text-align: center;  
    justify-content: center;  
}

.portfolio-navigation-item:last-child {
    margin-right: 0;
}

.portfolio-navigation-item {
    margin-right: 24px ;
}

.portfolio-buttom {
    display: flex;
    font-weight: 500;
    background-color: var(--lightgray-color);
    align-items: center; 
    letter-spacing: 0.04em;
    color: var(--violet-color);
    cursor: pointer;

    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;

    border: 1px solid ;
    border-color:var(--bord-color);
    border-radius: 4px; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttom:hover,
.portfolio-buttom:focus{
    background-color: var(--btn-navigation); 
    color: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--btn-navigation)
}
.portfolio-buttom:active {
    color: var(--gray-color);
}
.portfolio-navigation-item:hover,
.portfolio-navigation-item:focus {

}

/* Section portfolio aplication*/
.app-list {
    display: flex;
    flex-wrap: wrap;
}
.shadow { 
    border: 1px solid;
    border-color: var(--bord-color);
    border-top-color: transparent;
}
.app-item {
     /* width: calc((100% - 2*24px) / 3); */
    width: 360px;
    /* margin-right: 24px; */
    margin-bottom: 48px ;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-item:nth-child(3n) {
    margin-right: 0;
}
.app-item:hover,
.app-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*.app-item:ntn-child(7,8,9) {
    padding-bottom:120px;
}*/

.app-link { 
    
}

.app-maintext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--maintext-color);
    margin-bottom: 8px;
    padding-top: 32px;
    padding-left: 16px;
       
}

.app-paragraph {
    font-weight: 400;
    color: var(--gray-color);
    margin-bottom: 32px;
    padding-left: 16px;
}
 /* Fon */

 .overlay{
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    
    background-image:var(--linear-gradient),
     url(../images/people-office.jpg);
    background-color: var(--maintext-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}

@media screen and (min-width:768px){
    .overlay {
            background-image: var(--linear-gradient),
                url(../images/people-office.jpg);
        }
}
@media screen and (min-width: 1200px) {
    .overlay {
        background-image: var(--linear-gradient),
            url(../images/people-office.jpg);}
}

/* в єлементе до  контента. афтер после контенка*/
 .buttom::before {
    display: flex;
    content: '';
   /* width: ;
    height: ;
    background-color: ;*/
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
 }
 
 .tehnology-item::before {
    margin-bottom: 8px;
    display: block;
    content: '';
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
  
    background-repeat: no-repeat;
    background-position: center;
}
.icon-stategy::before {
    background-image: url(../images/antenna.svg);
}
.icon-punctuality::before {
    background-image: url(../images/clock.svg);
}
.icon-diligence::before {
    background-image: url(../images/diagram.svg);
}
 .icon-tech::before {
    background-image: url(../images/astronaut.svg);
 }
  /*or*/
  /* чтоб поставить на каждую лишку
   свою картинку, можно использовать
   классы для каждой или через чайлд
  .tehnology-item:nth-child(2)::before {
  }
  */
  
  .linkul {
    display: inline-block;
    height:40px  ;
    width: 40px;
    background-image: url();
    background-color:var(--violet-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .linkul:hover,
  .linkul:focus {
    background-color: #404BBF;
  }

  .teamsoc-list{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .teamsoc-item {
    height: 40px;
    width: 40px;
  }
  /*.teamsoc-item:last-child {
    margin-right: 0;*/
  
  .teamsoc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--violet-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }

  .teamsoc-icon {
    fill: var(--lightgray-color);
  }

  .teamsoc-link:hover,
  .teamsoc-link:focus {
    background: var(--btn-navigation);
  }
  /*Our team*/

 .customers {
    padding-bottom: 96px;
    padding-top: 96px;
 }
 .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .customers-item {
    width: 190px;
    height: 88px;
    
 }

 .customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #8E8F99;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 /*.customers-icon {
    fill: #AFB1B8;}
 
 .customers-link:hover,
 .customers-link:focus {
    border-color:#404BBF;
    fill: #2E2F42;
 }
 .customers-link:hover .customers-icon {
    fill: #404BBF;
 }*/
.customers-icon {
    fill:currentColor;
}
.customers-link:hover,
.customers-link:focus
 {
    border-color: var(--btn-navigation);
    color: var(--btn-navigation);
}

/*FOOTER*/
/* Footer */

.footer {
    background: var(--maintext-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer-first,
.logo-footer-second {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--violet-color);
}

.logo-footer-second {
    color: var(--lightgray-color);
}

.footer-paragraph {
    display: block;
    color: var(--bord-color);
    margin-top: 16px;
    width: 264px;
    height: 72px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    text-align: start;
}
.footer-soc {
     /* margin-left: 120px;  */
}
.footersoc-text{
    padding-bottom: 16px;
    text-align: center;
}
.footer-logosec{
    /* justify-content: center; */
    text-align: center;
}
.footersec {
     /* display: flex;  */
}
.footersoc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footersoc-item {
    width: 40px ;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
}

.footersoc-link {
    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footersoc-icon {
    fill: var(--lightgray-color);
}

.footersoc-link:hover,
.footersoc-icon:focus {
    background-color: #31D0AA;
}

/*tema 5*/
/* ця частина відповідає за
 створення бедропа і модального вікна*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, 
    visibility 250ms linear;
}

.modal {
    position: absolute ;
    /* top: 88px;
    left: 516px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 576px;
    
    opacity: 1;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    /* transform:  scale(1); */
    transition: transform 250ms linear;
}
.modal-close { 
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    
    background-color: var(--bord-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {  
}
.modal-close:focus,
.modal-close:hover {
    background-color: #404BBF;
    fill: #FFFFFF;
}

/*зникнення модального вікна*/
.is-hidden {
    visibility: hidden;
    opacity:0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform:   scale(0) ;
     
}
/* scale(0)*/
/* елемент відповідає за полоску під навігацією*/
.current::after
 {
    position: absolute;
    content: '';
    background: var(--btn-navigation);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 45px;
    left: 0;
}

.app-wrap {
    position: relative;
    overflow: hidden;
}
.app-text-top {
    position: absolute;
    top: 0;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    background: var(--violet-color);
    color: var(--lightgray-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-item:hover .app-text-top {
    transform: translateY(0);
}
/*Модальне вікно форма на головній сторінці*/

.modal-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}
.form-field {
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-text-main {
    font-weight: 500;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 14px;
    color: #2E2F42;
}

.form-input {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: none;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*За колір плейсхолдера відповідає нижче, 
за колір введення відповідає інпут*/
.form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
    
}
.form-input:focus, 
.form-input:hover{
    border: 1px solid #4D5AE5;
}
.form-relative {
    position: relative;
}
.form-icon {
    position: absolute;
    top: 14px;
    left: 19px;
    fill: #2E2F42;
}
/*коли імпут в фокусі та ховері то сусідній єлемент
(іконка) також в ховері*/
.form-input:focus,.form-input:hover+ .form-icon {
    fill: #4D5AE5;
}
/* якщо поля не заповнені і далі не пускає то вони не валідні
.modal-input:valid {
 background-color: tomato;
}
.modal-input:invalid {
    background-color: green;
}*/
/*якщо щось введено як відслідкувати валідацію
.modal-input:not(:placeholder-shown):valid {
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:not(:placeholder-shown):invalid {
    background-color: rgba(208, 0, 255, 0.224);
}*/
/* якщо на твоєму інпуті не показан плейсхолдер 
і він не в фокусі і він валідний
.modal-input:not(:placeholder-shown):not(:focus):valid {
    background-color: rgba(208, 0, 255, 0.224);
}
.modal-input:not(:placeholder-shown):not(:focus):invalid {
    background-color:rgba(28, 180, 53, 0.66);
}*/

.form-textarea {
   outline:none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 16px;
    padding-top: 8px;
    height: 120px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em; 
    color: rgba(117, 117, 117, 0.5);
}
.form-textarea:focus,
.form-textarea:hover {
    border-color: #404BBF;
}
.form-text-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8E8F99;
}

.form-buttom {
    display: flex;
    margin: 0 auto; 
    align-items: center;
    justify-content: center;

    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
   
    
    cursor: pointer;
    width: 169px;
    height: 56px;

    background-color:#4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-buttom:hover,
.form-buttom:focus {
    background-color: #404BBF;
}


.form-privacy {
    margin-bottom: 24px;
}
.input-check {
}

.privat-policy {
    color: var(--btn-navigation);
    margin-left: 4px;

}
.check-text {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    display: flex;
}

.check-text span {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid #2E2F42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.check-icon {
}
.input-check:checked+.check-text span {
    background-color: #404BBF;
    border: none;
    fill:#F4F4FD ;
}

/*Subckribe секція у футері*/

.subscribe {
    margin-top: 72px ;
    
    /* margin-left: 80px; */
}

.subckribe-form {
    /* display: flex; */
    /* gap: 24px; */
   
}

.subscribe-text {
    text-align: center;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.subscribe-input {
    /* width: 264px; */
    /* width: 396px; */
    width: 100%;
    height: 40px;

    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-icon-sp {
    /* display: inline-block; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.subscribe-buttom {
   display: block;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-color);
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    height: 40px;

    cursor: pointer;
    background: #4D5AE5;
    border-radius: 4px;
    border-color: transparent;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 64px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-buttom:focus,
.subscribe-buttom:hover {
    background-color: #404BBF;
}

.subscribe-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    translate: 0 -50%;
}

/*mobile menu*/
.menu-open-burger{

}
.mob-menu {

}
.menu-close {

}

/*Адаптивная верстка*/

/* @media screen and (min-device-pixel-ratio: 2) and (min-widht: 1200px),
screen and (min-resolution: 192dpi) and (min-widht: 1200px),
screen and (min-resolution: 2ddpx) and (min-widht: 1200px) {
    .banner {
        background-image: url(-desctop);
    }
} */
@media screen  and (max-width: 1199px){
    .work {
        display: none;
    }
    /*tehnology*/
    .tehnology-item::before {
        display: none;
    }
    .tehnology-text {
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }
}
@media screen and (min-width:320px) and (max-width: 767px) {
    /*header*/
     .navigation-list {
        display: none;
    }
    .contacts {
        display: none;
    }

    /*hero*/
    
    /*tehnology*/
   
    .tehnology-item {
        margin-bottom: 72px;
    }
    .tehnology-item:last-child{
        margin-bottom: 0px;
    }
    
   
    /*customers*/
    
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 72px 16px;

    }
    .customers-item {
        flex-basis: calc((100% - 16px) / 2);
    }
    /*about*/
    .about-item {
        margin-bottom: 72px;
    }

    /*subskribe*/
    .subscribe-buttom {
        margin-top: 16px;
    }
    .subskribe {
        margin-top: 72px;
    }
    /*PORTFOLIO*/
    .portfolio-navigation{
        padding-bottom: 48px;
    }
    .app-item:last-child {
        margin-bottom: 0px;
    }
}

@media screen and (min-width:480px) {

    /*hero*/
    .hero-text {
        font-size: 36px;
        padding-left: 36px;
        padding-right: 34px;
    }
    .container {
        width: 428px;
        /*width: 100%;
        margin:0 auto;*/
    }
    /*our team*/

    /*tehnology*/
    .tehnology {
        padding-bottom: 96px;
    }
    
    /*customers*/ 
    .customers {
        padding-top: 92px;
    } 
    
    .customers-item {
        display: flex;
    }
   
    /* FOOTER*/

    /*subskribe*/
    
    /*Portfolio*/
    .portfolio-navigation {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }
    /*header*/
    .header {
        padding-bottom: 10px;
    }
    
    .navigation-list {
        margin-left: 123px;
        margin-right: 118px;
    }
    /*hero*/
    .hero-main {
        padding-bottom: 108px;
    }
    .hero-text {
        font-size: 56px;
        margin-bottom: 40px;
        text-align: center;
        padding-left: 121px;
        padding-right: 121px;
    }
    /*tehnology*/
    .tehnology{
        padding-bottom: 96px ;
    }
    .tehnology-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
         }
    
         .tehnology-item {
             width: calc((100% - 2 * 12px) / 2);
         }
    
         .tehnology-text {
             font-weight: 700;
             font-size: 36px;
             text-align: start;
         }

    /*our team*/
    .about-list {
        display: flex;
        /* margin-bottom: 0;
        margin-right: 0; */
        column-gap: 24px;
        row-gap: 64px;
        flex-wrap: wrap;
        justify-content: center;
    }

        /* FOOTER*/
    .footersec {
    display: flex; 
    justify-content: center;
    }
    .footer-logosec {
        text-align: start;

    }
    .footer-soc {
        margin-left: 24px; 
    }
    .footer-paragraph{
        margin-bottom: 72px;
    }
    /*customers*/
    .customers {
        display: flex;
    }
    .customers-list {
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }
    .customers-item {
        flex-basis: calc((100% - 48px) / 3);
    }
   /*footer*/
   .footersec {
       display: flex; 
       flex-wrap: wrap;
       justify-content: center;
      
   }
   .footersoc-text {
       text-align: start;
   }

                /*subskribe*/
    .subckribe-form {
        display: flex; 
       gap: 24px; 
       
    }
    .subscribe-input {
       width: 264px; }
       
      /* portfolio*/
    .portfolio-navigation {
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .app-list {
        justify-content: space-between;
        flex-wrap: wrap;
     }
    .app-item {
        width: 356px; 
    }
   
}

@media screen and (min-width:1199px) {
    .container {
        width: 1199px;
    }
    /*header*/
    .contacts {
        display: flex;
    }
    .contact-adress {
        font-size: 16px;
    }
    
    .navigation-list {
        margin-left: 76px;
        margin-right: 332px;
    }
    
    .header {
        padding-bottom: 28px;
    }
    /*hero*/
    .hero-main {
        text-align: center;
        padding-top:188px  ;
        padding-bottom: 188px; 
    }
    .hero-text { 
        margin-bottom: 48px;
        padding-right: 317px;
        padding-left: 317px;
    } 
    /*tehnology*/
    .tehnology {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
    .texnology-list {
        display: flex;
    }
    
    .tehnology-item {
        width: calc((100% - 6 * 12px) / 4);
    }
    
    .tehnology-item:last-child {
        margin-right: 0;
    }
    
    .tehnology-text {
        font-weight: 500;
        font-size: 20px;
    }

    /*our team*/
    .about {
        padding-top: 120px;
        
    }

    /*customers*/
    .customers {
        padding-bottom: 120px;
        padding-top: 120px;
    }
    .customers-item {
       flex-basis: calc((100% - 120px) / 6); 
    } 
    .customers-list {
       /* gap: 24px; */
    } 
   
    /* FOOTER*/
    .footersec {
        display: flex;
        justify-content: flex-start;
    }
    .footer-soc {
        margin-left: 120px;  
    }
     /*subskribe*/
    .subscribe {
        margin-left: 80px; 
        margin-top: 0;
    }
    .subckribe-form {
        display: flex; 
        gap: 24px; 
    }

/*portfolio*/
    .portfolio-navigation {
        padding-top: 72px;
        padding-bottom: 120px;
    }
    .app-item {/*{flex-basis: calc((100% - 2*24px)/3);  */
    width: 360px;
    }

 }
 
 
   